:root {
  --primary-100: #0085ff;
  --primary-200: #69b4ff;
  --primary-300: #e0ffff;
  --accent-100: #006fff;
  --accent-200: #e1ffff;
  --text-100: #ffffff;
  --text-200: #9e9e9e;
  --text-300: #1e293b;
  --bg-100: #1e293b;
  --bg-200: #2d2d2d;
  --bg-300: #454545;
  --bg-400: #1d2d41;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --secondary: var(--bg-100);
  }
}

/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
@media (prefers-contrast: high) {
  :root {
    --secondary: var(--bg-100);
  }
}

/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

/* Reseteamos los margin y paddings de todas las etiquetas */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

html {
  box-sizing: border-box;
  /* font-family: $DMSR; */
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--bg-100);
  color: var(--text-100);
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

a {
  color: var(--text-100);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--accent-200);
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  margin: 0;
  color: var(--text-100);
  font-size: 2rem;
}

h2 {
  margin: 0;
  color: var(--text-100);
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  color: var(--text-100);
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  color: var(--text-100);
  font-size: 1rem;
}

h5 {
  margin: 0;
  color: var(--text-100);
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  color: var(--text-100);
  font-size: 0.7rem;
}

p {
  line-height: 1.6;
  color: var(--text-100);
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

img {
  border-radius: 10px;
}

.page-wrapper {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  place-content: center;
}

.nav-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: transparent;
}

.navbar img {
  height: 16px;
  width: auto;
  justify-self: start;
  margin-left: 20px;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-self: end;
}

.navbar>.title {
  text-decoration: none;
  transition: color 0.3s ease-out;

  font-size: clamp(1.3rem, 2.5vw, 1rem);
  font-weight: 700;
}

.nav-item a {
  text-decoration: none;
  transition: color 0.3s ease-out;

  font-size: clamp(1.3rem, 2.5vw, 0.8rem);
  font-weight: 700;
}

.nav-item a:hover {
  color: #3498db;
}

/* SECTIONS */

.headline {
  width: 100%;
  /* height: 50vh; */
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5vh;
  gap: 1.5rem;
}

.page-wrapper>.headline>h1 {
  font-size: 3rem;
}

.headline>p {
  font-size: clamp(0.8rem, 2vw, 1rem); 
}

.input-group {
  display: flex;
  align-items: center;
}

.input {
  min-height: 50px;
  width: 50%;
  padding: 0 1rem;
  color: var(--text-100);
  font-size: 15px;
  border: 1px solid var(--primary-300);
  border-radius: 1px 0 0 1px;
  background-color: transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.04);
}

.button--submit {
  min-height: 50px;
  min-width: 12rem;
  padding: 0.5em 1em;
  border: none;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.04);
  border-radius: 0 1px 1px 0;
  background-color: var(--primary-100);
  color: var(--text-100);
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button--submit:hover {
  background-color: var(--accent-100);
}

.input:focus,
.input:focus-visible {
  border-color: var(--primary-100);
  outline: none;
}

.input::placeholder {
  color: var(--text-100);
}

/* SECTION COLLABORATORS */

.collaborators {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.collaborators>h2 {
  font-size: clamp(1.3rem, 2.5vw, 1.8rem);
  font-weight: 700;
  margin-bottom: clamp(0.35rem, 2vw, 0.55rem);
}

.container__main-content {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.card {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px 20px 16px 16px;
  background-color: var(--bg-100);
  cursor: pointer;
  overflow: hidden;
  max-width: clamp(620px, 70vw, 820px);
  min-width: 160px;
  min-height: 180px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 5px;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.background {
  flex: 1 1 250px;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  flex: 3 1 350px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 16px;
}

.content>h2 {
  font-size: clamp(1.3rem, 2.5vw, 1.8rem);
  font-weight: 700;
  margin-bottom: clamp(0.35rem, 2vw, 0.55rem);
  /* color: var(--text-300); */
}

.content>p {
  font-size: clamp(0.9rem, 1.25vw, 0.8rem);
  font-weight: 400;
  margin-bottom: 16px;
  color: var(--accent-200);
  line-height: 22px;
}

.social-icons {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-top: auto;
  gap: clamp(0.4rem, 2vw, 0.4rem);
}

.social-icons li {
  list-style: none;
}

.social-icons li a {
  position: relative;
  display: block;
  display: grid;
  place-items: center;
  font-weight: bold;
  transition: 0.2s;
}

.social-icons li a svg {
  stroke: var(--accent-200);
  width: clamp(1.6rem, 2.3vw, 2rem);
  height: clamp(1.6rem, 2.3vw, 2rem);
  stroke-width: 2px;
}

.social-icons li a:hover svg {
  transition: 1.2s;
  transform: rotateY(360deg);
}

/* END SECTION COLLABORATORS */
.feature-container {
  flex-basis: 30%;
  margin-top: 10px;
}

.feature-container p {
  color: #000;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 15px;
}

.feature-container img {
  width: 100%;
  margin-bottom: 15px;
}

/* SEARCH FUNCTION */

#search-icon {
  font-size: 0.9rem;
  margin-top: 3px;
  margin-left: 15px;
  transition: color 0.3s ease-out;
}

#search-icon:hover {
  color: #3498db;
  cursor: pointer;
}

.search {
  transform: translate(-35%);
  -webkit-transform: translate(-35%);
  transition: transform 0.7s ease-in-out;
  color: #3498db;
}

.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}

.search-input {
  position: absolute;
  top: -4px;
  right: -125px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.6s ease;
}

.search-active {
  opacity: 1;
  z-index: 0;
}

input {
  border: 0;
  border-left: 1px solid #ccc;
  border-radius: 0;
  /* FOR SAFARI */
  outline: 0;
  padding: 5px;
}


@media only screen and (max-width: 720px) {

  h1 {
    font-size: 1.9rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }
}