body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #f4f4f4;;
    font-size: x-small;
    
}

img{
    border-radius: 10px;
}


#logo{
    position: absolute;
    top: 180%;
    left: 25%;
}
main{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.22);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.6px);
-webkit-backdrop-filter: blur(5.6px);
border: 1px solid rgba(255, 255, 255, 0.3);
color: #333;
font-size: large;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.5rem 0;
}

.title {
    font-size: 40px;
    margin: 0;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    background-image: url(./imgs/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 40s linear infinite;
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

h2{
    color: #fff;
}



.formulario label,
.formulario input,
.formulario button {
    display: block;
    margin-bottom: 1rem;
}

thead{
    border: 1px solid #ccc;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border-radius: 16px;
}

th{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 3px;
    background-color: #161616;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}
td {
    border: 1px solid #ccc;
    padding: 3px;
    text-align: left;
    color: #fff;
    
}

td:nth-child(2){
    color: #2cd7ce;
    font-weight: 700;
    text-align: center;
    padding: 24px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.455);
}
td:nth-child(3){
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.455);
    text-align: center;
}
td:nth-child(4){
    
    text-align: center;
}



a {
    color: #1a73e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.editable {
    cursor: pointer;
    background-color: rgba(255, 255, 0, 0.2);
}

input[type="text"].editando {
    display: block;
    width: 100%;
    box-sizing: border-box;
}
